In [1]:
import scanpy.api as sc

/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [1]:
import pandas as pd

/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ljh/miniconda3/envs/scGAN/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
x = pd.read_csv('/home/ljh/workbench/scGAN/data/csv_data/muris_gene_expression_count.csv', index_col=0)

/home/ljh/miniconda3/envs/scGAN/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
obs = pd.read_csv('/home/ljh/workbench/scGAN/data/csv_data/muris_obs.csv', index_col=0)
obs

                   celltype  n_genes   counts  batch
AAACCTGAGCATCATC-1   Marrow     3470  12996.0  muris
AAACCTGCAGAGTGTG-1   Marrow     1764   5437.0  muris
AAACCTGGTCGAACAG-1   Marrow     1526   4466.0  muris
AAACCTGTCACTTCAT-1   Marrow     4044  23853.0  muris
AAACGGGAGAAGGTTT-1   Marrow      977   4375.0  muris
AAACGGGAGTAGTGCG-1   Marrow     1645   5452.0  muris
AAACGGGCACGACTCG-1   Marrow     3837  30907.0  muris
AAACGGGGTAGCACGA-1   Marrow     1940   6076.0  muris
AAAGATGCACTCGACG-1   Marrow     2983   8029.0  muris
AAAGATGCATGGATGG-1   Marrow     1487   6458.0  muris
AAAGATGGTGTGCGTC-1   Marrow     1537   5967.0  muris
AAAGATGTCAGCTCGG-1   Marrow     1457   4305.0  muris
AAAGATGTCCTATGTT-1   Marrow     1126   4536.0  muris
AAAGCAAAGAGCCTAG-1   Marrow      885   4493.0  muris
AAAGCAACAGACGCAA-1   Marrow     1151   6912.0  muris
AAAGCAACATTCGACA-1   Marrow     5150  41281.0  muris
AAAGCAAGTACAAGTA-1   Marrow      646   6903.0  muris
AAAGCAAGTGAGTGAC-1   Marrow     2373   5968.0  muris
AAAGTAGAGTGGAGTC-1   Marrow     2640   9118.0  muris
AAAGTAGGTTGCTCCT-1   Marrow     1924   5022.0  muris
AAATGCCCAAGCTGTT-1   Marrow     3460  25864.0  muris
AAATGCCGTCAGAGGT-1   Marrow     2434  16239.0  muris
AACACGTAGGGTTCCC-1   Marrow     1929   8055.0  muris
AACACGTGTCCTCCAT-1   Marrow     2229   7064.0  muris
AACACGTTCTATCGCC-1   Marrow     4520  29539.0  muris
AACCATGAGTCCAGGA-1   Marrow     1892   4433.0  muris
AACCGCGAGAAGAAGC-1   Marrow     1469   4102.0  muris
AACCGCGCAGCCTATA-1   Marrow     2410   7333.0  muris
AACGTTGCATGCCACG-1   Marrow     1189   4839.0  muris
AACTCAGAGAATGTGT-1   Marrow     3466  15730.0  muris
...                     ...      ...      ...    ...
733248              Trachea     1511   3778.0  muris
733426              Trachea     2292   7189.0  muris
733686              Trachea     2439  10484.0  muris
734013              Trachea     2185   8256.0  muris
734349              Trachea     1192   3054.0  muris
734525              Trachea     1505   4169.0  muris
734650              Trachea     1798   5344.0  muris
734695              Trachea     1304   4397.0  muris
734799              Trachea     1767   5169.0  muris
734802              Trachea      929   2295.0  muris
734893              Trachea     2549  11576.0  muris
735067              Trachea     1615   4609.0  muris
735108              Trachea     1904   4762.0  muris
735210              Trachea      841   1743.0  muris
735506              Trachea     1102   2384.0  muris
735675              Trachea     1464   4427.0  muris
735768              Trachea     1534   4240.0  muris
735832              Trachea     1967   7330.0  muris
736011              Trachea     2339  10409.0  muris
736039              Trachea     2309   9586.0  muris
736334              Trachea     1785   4113.0  muris
736371              Trachea     1206   3027.0  muris
736404              Trachea     2557   9923.0  muris
736544              Trachea     1585   5000.0  muris
736761              Trachea     2166   5984.0  muris
736877              Trachea     2256   6507.0  muris
736941              Trachea      772   1672.0  muris
737147              Trachea     1302   2589.0  muris
737253              Trachea      973   2373.0  muris
737274              Trachea     1800   5903.0  muris

[55144 rows x 4 columns]

In [2]:
a = sc.read('./thy_scGAN.h5ad')

In [3]:
a.obs

         cluster
index
fake           0
fake-1         0
fake-2         0
fake-3         0
fake-4         0
fake-5         0
fake-6         0
fake-7         0
fake-8         0
fake-9         0
fake-10        0
fake-11        0
fake-12        0
fake-13        0
fake-14        0
fake-15        0
fake-16        0
fake-17        0
fake-18        0
fake-19        0
fake-20        0
fake-21        0
fake-22        0
fake-23        0
fake-24        0
fake-25        0
fake-26        0
fake-27        0
fake-28        0
fake-29        0
...          ...
fake-570       2
fake-571       2
fake-572       2
fake-573       2
fake-574       2
fake-575       2
fake-576       2
fake-577       2
fake-578       2
fake-579       2
fake-580       2
fake-581       2
fake-582       2
fake-583       2
fake-584       2
fake-585       2
fake-586       2
fake-587       2
fake-588       2
fake-589       2
fake-590       2
fake-591       2
fake-592       2
fake-593       2
fake-594       2
fake-595       2
fake-596       2
fake-597       2
fake-598       2
fake-599       2

[600 rows x 1 columns]

In [ ]:
ori_data = sc.read('/home/ljh/workbench/scGAN/data/thy.h5ad')
process_data = sc.read('/home/ljh/workbench/scGAN/data/res/thy_test/thy.h5ad')

In [ ]:
ori_data.obs['cluster'] = ori_data.obs['celltype']

In [ ]:
ori_data.write('./thy_cluster.h5ad')

In [ ]:
ori_data

In [ ]:
process_data

In [ ]:
process_data.obs['cluster'].value_counts()

In [ ]:
ori_data.X

In [ ]:
process_data.X

In [ ]:
a.X.toarray()